__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

.git/
.gitignore

.venv/
venv/
env/
*.egg-info/

.vscode/
.idea/

*.log
.DS_Store
Thumbs.db

.env
docker-compose.yml
Dockerfile
.dockerignore
